<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeLeaf.org" th:replace="User/userbasepage::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	
	<section>
<h1>this is user dash board page</h1>
<p>its completely private page user only access it</p>
<h6>user data print:::</h6>

<h1> User name: <span th:text="${userdata.name}"></span></h1>
<h1> User email: <span th:text="${userdata.email}"></span></h1>

<h3>logout page</h3>
<h1><a th:href="@{/logout}">Logout</a></h1>

</section>
</body>
</html>