<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeLeaf.org" th:replace="User/userbasepage::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	
<section>

<div class="card mt-0 mr-3 ml-2">
     
     <div class="card-body">
     
     		<div class="text-center">
     		<img class="poticularContact_Img" th:src="@{'/image/'+${image}}" src="" alt="profile photo" />
     		</div>
            <h1 class="text-center"><span th:text="${name}"></span> -Update</h1>
         
         <div class="container-fluid mt-2">
         
           <div class="row">
           		
           		<div class="col-md-8 offset-md-2">
           			
           							  
           			<form th:action="@{/user/change-contactDetails}" th:object="${contact}" 
           														enctype="multipart/form-data"
           													 		method="post" 
															    		class="mt-2" >
					
					
					
					<!-- one problem here all data is send but Contact Cid is not send so need that  -->
					
					<!-- use hidden field -->
					<input type="hidden" th:value="${ContactDetails.cid}" name="cid" />
					
					
					<!-- fast name -->
					
					<div class="input-group">
						
						<div class="input-group-prepend">
						
						    <div class="input-group-text">
						    
						    	<i class="fa fa-plus"></i>
						    	
						    </div>
						</div>
						
						   <!-- contact name is here that name is pass -->
						<input th:value="${ContactDetails.name}" required type="text" id="fistName" name="name" placeholder="Enter Name here.." class="form-control">
						
					</div> 
					   
					       
					<!--second name -->
					<div class="input-group mt-3">
						
						<div class="input-group-prepend">
						
						    <div class="input-group-text">
						    
						    	<i class="fas fa-user-alt"></i>
						    	
						    </div>
						</div>
						
					    <!-- contact secondName as it is pass -->
						<input th:value="${ContactDetails.secondName}" type="text" id="second name" name="secondName" placeholder="Enter NickName here..">
						
					</div>  
					
					
					<!--phone number field -->
					<div class="input-group mt-3">
						
						<div class="input-group-prepend">
						
						    <div class="input-group-text">
						    
						    	<i class="fa fa-phone"></i>
						    	
						    </div>
						</div>
						
				<!-- contact phone as it is print name="phone" put -->
<!-- not use --><input th:value="${ContactDetails.phone}" required  type="number" id="phone" name="phone" placeholder="Enter phone number here..">
	
	<!-- some validation added -->
<!-- 	<input th:value="${ContactDetails.phone}" required min="10" max="12" type="number" id="phone" name="phone" placeholder="Enter phone number here.."> -->
						
					</div>  
							
					<!--email field -->
					<div class="input-group mt-3">
						
						<div class="input-group-prepend">
						
						    <div class="input-group-text">
						    
						    	<i class="far fa-envelope"></i>
						    	
						    </div>
						</div>
						
						<!-- contact email as it is print name="email" put -->
						<input th:value="${ContactDetails.email}" type="email" id="email" name="email" placeholder="Enter Email here..">
						
					</div>  	
					
					<!--work field -->
					<div class="input-group mt-3">
						
						<div class="input-group-prepend">
						
						    <div class="input-group-text">
						    
						    	<i class="fa fa-briefcase"></i>
						    	
						    </div>
						</div>
						
						<!-- contact work as it is print name="work" print -->
						<input th:value="${ContactDetails.work}" type="text" id="work" name="work" placeholder="Enter Work here..">
						
					</div>  			
					
					<!-- contact Description field-->
					<div class="form-group mt-3">
					
					
					<!-- this time its use th:text not use in th:value its not work   -->
					<textarea th:text="${ContactDetails.description}" id="mytextarea" name="description" cols="29" rows="5" class="form-control" placeholder="Enter contact description here.."></textarea>
					
					</div>		
					
				<!--contact image field -->	
				<div class="custom-file">
				<input type="file" name="profileimage"> <!-- all field name=" " as it is only image name="change not in Contact.class" -->
				</div>
				
				<!-- buttons field -->
				<div class="container text-center">
				<button class="btn btn-outline-primary">Save Contact</button>
				</div>
					
          </form>
           		
           		
           		</div>
           </div>
         </div>
     </div>
  </div>
  <!-- add tiny mnc code -->
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

	<script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>
</section>

</body>
</html>