<html lang="en"  xmlns:th="http://www.thymeLeaf.org" th:replace="User/userbasepage::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	
  <section>
<!--        <span th:text="${contact}"></span> -->
	
	<div class="card mr-5 ml-5">
		
		<div class="card-body">
		
			<h2 class="text-center">Your Contacts</h2>
			
	<!-- contact show in table  -->		
	<table class="table">
	
	<!-- table head -->	  
		  <thead>
		    <tr>
		      <th scope="col">#ID</th>
		      <th scope="col">Name</th>
		      <th scope="col">Email</th>
		      <th scope="col">Phone</th>
		      <th scope="col">Action</th>
		    </tr>
		  </thead>
		  
	<!-- contact details -->	  
		  <tbody>
		  
		    <tr th:each="c:${contact}"><!-- for loop load -->
		      <th scope="row" th:text="${'contact '+c.cid}"></th><!-- cid name same as Contact.java variable cid -->
		      
		      <!-- image add previous show name -->
		      <td>
		      
		      <img class="mycontactPic" th:src="@{'/image/'+${c.image}}" src="" alt="profile photo" /><!-- image in Contact.java -->
		      
		      <span th:text="${c.name}"> </span> </td>  <!-- name is same as Contact.java variable -->
		      
		      <!-- provied link mail click it show the all details -->
		      <td>
		      
		      <a href="#" th:href="@{'/user/contact/'}+${c.cid}"><!-- create a handler UserController.java the request -->
		      <span th:text="${c.email}"> </span>  <!-- email same as Contact.java variable name email--> 
		      </a> 
		      </td>
		      
		      <td th:text="${c.phone}">  </td><!-- phone same as the Contact.java variable name phone -->
		      
		      			<!-- create Action buttons -->
		      <td >
				
				<!-- create button for Delete-->
					<!-- Get method use-->
				<button th:onclick="|deleteContactNumber(${c.cid})|" class="btn btn-danger btn-sm">Delete</button>
				
				<!-- create button for Update-->
					<!-- Post method use -->
				<form method="post" th:action="@{'/user/update-contact/'+${c.cid}}" class="ml-3 mt-2">
				<button class="btn btn-warning btn-sm">Update</button>
			  	</form>
			  
			  </td>
		    </tr>
		    
		  </tbody>
   
   </table>
   
   <!-- pagination uses -->

<nav aria-label="Page navigation example">
  
  <ul class="pagination">
  
  <!-- current page is 0 then it not show or not work -->
    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/user/viewContact/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
  
  		<!-- page number desite   active page show-->
    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i :${#numbers.sequence(1,totalPage)}" class="page-item">
    								<!-- page link click then going page -->
    								<a th:href="@{'/user/viewContact/'+${i-1}}" class="page-link" href="#">
    								<span th:text="${i}"></span><!-- i print the page  -->
    																			</a></li>
  	<!-- currentPage +1 then it not totalPage then this is not work or not show  -->
    <li th:if="${currentPage+1 != totalPage}" class="page-item"><a th:href="@{'/user/viewContact/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
  </ul>
</nav>
						
		</div>
	</div> 

  </section>
</body>
</html>