<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeLeaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example page</title>
	
	<!-- add css or js file -->
	<link rel="stylesheet" th:href="@{/css/mycss.css}" />
</head>

<body>
		<div class="container">
		<img class="profile" alt="" th:src="@{/image/cppu.PNG}">
		<!-- lorem50 + tab -->
		<h2> this is starting of contact page </h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero minus porro necessitatibus sit fugit sequi ab eaque optio maxime aperiam neque a ipsa omnis nulla quaerat cupiditate pariatur iusto tempora nam provident quia dolore sed explicabo qui rem magni vitae asperiores voluptate et facere dolores autem sapiente perspiciatis! Odio consequuntur.</p>
		
		</div>
<script src="" th:src="@{js/js.js}"></script>
</body>

</html>