<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeLeaf.org" th:replace="basepage::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>About page</title>
</head>

<body>
		<section>
		<!-- lorem50 + tab -->
		<h2> this is starting of about page </h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero minus porro necessitatibus sit fugit sequi ab eaque optio maxime aperiam neque a ipsa omnis nulla quaerat cupiditate pariatur iusto tempora nam provident quia dolore sed explicabo qui rem magni vitae asperiores voluptate et facere dolores autem sapiente perspiciatis! Odio consequuntur.</p>
		</section>	
</body>
</html>